{% extends "settings/base.html" %}
{% load static %}
{% block title %} My Letters {% endblock %}
{% block content %}
<div class="row text-center">
		<h3>Letters</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<thead>
				    <tr>
				      	<th scope="col">Name</th>
				      	<th scope="col">File(*.txt)</th>
				      	<th scope="col">description</th>
				      	<th scope="col">status</th>
				      	<th scope="col" colspan="3">Action</th>
				    </tr>
				</thead>
				<tbody>
				{% for obj in object_list %}
				    <tr>
				      	<td>{{obj.name}}</td>
				      	<td> <a href="{{obj.file.url}}">{{obj.file.name}}</a></td>
				      	<td>{{obj.description}}</td>
				      	<td>{{obj.status}}</td>
				      	<td><a href="{% url 'view-letter' obj.id %}" class="btn btn-primary">View</a></td>
				      	<td><a href="{% url 'edit-letter' obj.id %}" class="btn btn-secondary">Edit</a></td>
				      	<td><a href="{% url 'template-edit-letter' obj.id %}" class="btn btn-success">Edit Template</a></td>
				    </tr>
				{% empty %}
					<tr>
						<td colspan="5" class="text-center">No Letter...<a href="{% url 'add-letter' %}">Click Here to add.</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-12">
			<a href="{% url 'add-letter' %}" class="btn btn-primary">Add Letter</a>
		</div>
	</div>
{% endblock %}
